{% extends 'base.admin.html.twig' %}

{% block title %}
  Admin Homepage
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-3">
        Administration
      </h1>
      <p class="lead">
        Toute intervention sur le paramétrage est généralement répercutée
        instantanément sur le site public.
        <br />
        Par conséquent, il est demandé de prendre toutes les précautions nécessaires
        et de contrôler immédiatement l'impact des modifications.
      </p>
      <hr class="my-4" />
      <p>
        It uses utility classes for typography and spacing to space content out
        within the larger container.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>

    <div class="row my-4">
      <div class="col-md-3">
        &nbsp;
      </div>
      <div class="col-md-6">
        FILE UPLOADER TESTS
      </div>
      <div class="col-md-3">
        &nbsp;
      </div>
    </div>
  </div>
  <!-- end container fluid -->
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      

     });
  </script>
{% endblock %}
