.logo-sm {
    width:85px; 
    height: 100%;
}

a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium {
        max-width: 80px;
        max-height: 80px;
    }
    
    &.avatar-mini {
        max-width: 32px;
        max-height: 32px;
    }
    
    &.avatar-micro {
        max-width: 24px;
        max-height: 24px;
    }
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
	color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert {
    a {
        text-decoration: none;
    }

    .btn {
       color: white; 
    }
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #62c462;
    border: #2c552c solid 3px;
}

.custom-control-label::before {
    color: #fff;
    border-color: #3A3F44;
    background-color: #3A3F44;
}