{% extends 'base.html.twig' %} {% block title %}Logiciels webservice{% endblock %} {% block
body %}
<div class="container">
  <h1 class="h3 mt-4">Logiciels de Web-Service</h1>

  <p class="homepage slogan slogan-1">
    Depuis 42 années, Bel Air Informatique vous accompagne avec succès en vous proposant
    des solutions informatiques pour l'ensemble des professionnels de l'assurance.
    Nous connaissons votre métier !
  </p>

</div>
{% endblock %}
